body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #89cff0, #2771ae);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

h1 {
  text-align: center;
}

.data-entry {
  margin-top: 40px;
  text-align: center;
}

.form-switch {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
}

.city {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

label {
  font-size: 16px;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  margin: 0px 10px 0px 10px;
  padding: 10px;
  background: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #74b9ff;
}

.city button:hover {
  background: #0c6bd6;
}

#weatherInfo {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;

}

.weather-icon {
  width: 120px;
}

.reset-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;

}

.reset-btn:hover {
  background: #0c6bd6;
}

/*************** dark-theme ******************/

.dark-theme {
  background: linear-gradient(135deg, #141414, #260c0c);
  /* temnij fon */
  color: #e0e0e0;
}

/* peredelka items na dark themi */
.dark-theme h1,
.dark-theme label {
  color: #e0e0e0;
}

.dark-theme input,
.dark-theme select {
  background-color: #444;
  color: #e0e0e0;
}

.dark-theme button {
  background: #007bff;
  /* podgon kraski knopki */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
}

.dark-theme button:hover {
  box-shadow:
    0 0 30px rgba(0, 123, 255, 0.4),

    0 0 30px rgba(0, 123, 255, 0.4);
}

.dark-theme #weatherInfo {
  background: rgba(255, 255, 255, 0.1);
  /* prozracnij na temnom fone */
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  border-radius: 15px;
}